In [7]:
import numpy as np
import pandas as pd
import pickle

# Specify the path to the .p file
file_path = '/Users/divyamsobti10/Desktop/258/project/coeffs_labels.p'

# Open the file in binary mode for reading
with open(file_path, 'rb') as file:
    # Load the object from the file
    obj = pickle.load(file)

In [8]:
df=pd.DataFrame(obj)

In [9]:
df

             0         1           2         3         4            5
0    -0.000109  0.309315  157.037777 -0.000136  0.526186   628.248240
1     0.000224 -0.002954  191.187934  0.000051  0.351215   586.972798
2     0.000083  0.102622  148.491001  0.000022  0.286521   637.868134
3    -0.000022  0.174109  127.040639  0.000026  0.256565   663.496534
4     0.000106  0.078772  132.857000 -0.000023  0.265268   678.869695
...        ...       ...         ...       ...       ...          ...
1973  0.000140 -0.361076  579.948747  0.000407 -0.613520  1284.965566
1974  0.000046 -0.184226  502.227070  0.000188 -0.392140  1240.999623
1975  0.000012 -0.117581  474.598142  0.000164 -0.335842  1219.765562
1976  0.000035 -0.095332  453.311105  0.000130 -0.231642  1174.923650
1977  0.000039 -0.091205  452.587234  0.000094 -0.132906  1117.745487

[1978 rows x 6 columns]

In [55]:
# Specify the path to the .p file
file_path = '/Users/divyamsobti10/Desktop/258/project/coeffs_train.p'

# Open the file in binary mode for reading
with open(file_path, 'rb') as file:
    # Load the object from the file
    obj = pickle.load(file)

In [11]:
# Convert the list to a NumPy array
arr = np.array(obj)

# Reshape the array to 2-dimensional format
reshaped_data = np.reshape(arr, (arr.shape[0], -1))

# Convert the reshaped array to a DataFrame
df_t = pd.DataFrame(reshaped_data)

# Now you can work with the DataFrame
df_t[1].unique()

array([  5,   4,   3,   2,   6,   8,   9,   7,   1,   0, 205, 216, 214,
       221, 145,  22, 223, 194, 212,  23, 213, 220, 106, 125, 229, 219,
       196, 192, 207, 206, 197, 193, 190, 209, 203, 200, 201, 224, 204,
       210, 199, 198, 138, 239, 238, 235, 236, 233, 234, 237, 228, 230,
       232, 231, 227, 128, 252, 255,  58, 241,  69, 243, 107, 226,  85,
       211, 143, 215, 108, 169,  74, 160,  26,  45, 202,  62,  78, 135,
        52,  99, 118, 141, 188, 218, 217,  47,  34, 249, 173,  81,  71,
       244, 153, 116, 123, 184,  83,  88, 176, 187,  93, 254, 175, 162,
       139, 148, 157,  32, 222,  84,  60, 102, 103, 245,  89, 242, 240,
       208, 112, 225, 171, 182,  67, 126, 120, 132,  63, 100,  80,  94,
       110,  61,  50,  35,  33, 134, 155, 150,  90, 105,  82,  54,  41,
       130, 163, 152, 121,  92, 185, 183,  97,  55, 154,  68, 133,  25,
        57, 166,  65,  51, 165,  87,  95, 127,  44,  39,  66, 129, 151,
       167, 146,  70,  59, 195, 191, 186,  73,  30,  16,  24, 246, 161,
        64, 178,  19,  77, 168,  96, 180, 113, 131,  36,  31,  42,  48,
        38, 174,  27, 172, 115, 140, 248, 247,  17, 253, 251, 170, 179,
       189, 109,  76, 177,  56,  86, 124, 136, 149,  46, 104, 111,  28,
       122,  75, 119,  53,  40,  91, 156,  18,  20,  98, 137,  72, 117,
        37,  79, 164, 158, 147, 159,  49, 144, 142], dtype=uint8)

In [12]:
df_t

,0,1,2,3,4,5,6,7,8,9,...,38390,38391,38392,38393,38394,38395,38396,38397,38398,38399
0,7,5,3,7,3,2,7,2,2,8,...,18,39,24,21,40,24,25,42,26,27
1,6,5,8,6,5,8,6,5,7,6,...,35,40,35,35,41,37,37,41,38,38
2,6,4,2,7,6,3,7,5,3,6,...,32,37,35,35,40,35,36,40,36,35
3,11,3,2,10,3,3,7,4,5,6,...,34,37,35,32,38,36,36,39,34,35
4,4,4,1,2,3,2,4,5,4,6,...,28,33,33,29,34,32,32,37,33,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,97,141,183,97,140,182,98,140,182,102,...,77,101,82,79,103,82,77,98,77,72
1974,102,141,181,101,141,180,100,141,180,100,...,78,102,81,77,100,78,78,102,81,78
1975,97,139,178,100,141,180,101,140,179,101,...,76,102,81,77,99,78,78,103,82,79
1976,96,140,180,96,140,179,96,140,181,96,...,73,99,77,73,98,77,74,102,81,79
1977,98,140,180,97,140,181,96,140,182,97,...,72,97,76,71,97,77,74,104,83,80

In [56]:


# Specify the path to the .p file
file_path = '/Users/divyamsobti10/Desktop/258/project/full_CNN_train.p'

# Open the file in binary mode for reading
with open(file_path, 'rb') as file:
    # Load the object from the file
    obj = pickle.load(file)

# Convert the list to a NumPy array
arr = np.array(obj)

# Reshape the array to 2-dimensional format
reshaped_data = np.reshape(arr, (arr.shape[0], -1))

# Convert the reshaped array to a DataFrame
df_ff = pd.DataFrame(reshaped_data)

# Now you can work with the DataFrame
df_ff[1].unique()

array([  5,   4,   3,   2,   6,   8,   9,   7,   1,   0, 205, 216, 214,
       221, 145,  22, 223, 194, 212,  23, 213, 220, 106, 125, 229, 219,
       196, 192, 207, 206, 197, 193, 190, 209, 203, 200, 201, 224, 204,
       210, 199, 198, 138, 239, 238, 235, 236, 233, 234, 237, 228, 230,
       232, 231, 227, 128, 252, 255,  58, 241,  69, 243, 107, 226,  85,
       211, 143, 215, 108, 169,  74, 160,  26,  45, 202,  62,  78, 135,
        52,  99, 118, 141, 188, 218, 217,  47,  34, 249, 173,  81,  71,
       244, 153, 116, 123, 184,  83,  88, 176, 187,  93, 254, 175, 162,
       139, 148, 157,  32, 222,  84,  60, 102, 103, 245,  89, 242, 240,
       208, 112, 225, 171, 182,  67, 126, 120, 132,  63, 100,  80,  94,
       110,  61,  50,  35,  33, 134, 155, 150,  90, 105,  82,  54,  41,
       130, 163, 152, 121,  92, 185, 183,  97,  55, 154,  68, 133,  25,
        57, 166,  65,  51, 165,  87,  95, 127,  44,  39,  66, 129, 151,
       167, 146,  70,  59, 195, 191, 186,  73,  30,  16,  24, 246, 161,
        64, 178,  19,  77, 168,  96, 180, 113, 131,  36,  31,  42,  48,
        38, 174,  27, 172, 115, 140, 248, 247,  17, 253, 251, 170, 179,
       189, 109,  76, 177,  56,  86, 124, 136, 149,  46, 104, 111,  28,
       122,  75, 119,  53,  40,  91, 156,  18,  20,  98, 137,  72, 117,
        37,  79, 164, 158, 147, 159,  49, 144, 142,  13,  29, 114,  43,
       250, 101, 181], dtype=uint8)

In [57]:
df_ff

,0,1,2,3,4,5,6,7,8,9,...,38390,38391,38392,38393,38394,38395,38396,38397,38398,38399
0,7,5,3,7,3,2,7,2,2,8,...,18,39,24,21,40,24,25,42,26,27
1,6,5,8,6,5,8,6,5,7,6,...,35,40,35,35,41,37,37,41,38,38
2,6,4,2,7,6,3,7,5,3,6,...,32,37,35,35,40,35,36,40,36,35
3,11,3,2,10,3,3,7,4,5,6,...,34,37,35,32,38,36,36,39,34,35
4,4,4,1,2,3,2,4,5,4,6,...,28,33,33,29,34,32,32,37,33,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12759,0,0,0,0,0,0,228,241,242,230,...,132,137,144,133,0,0,0,0,0,0
12760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12761,0,0,0,209,221,224,207,220,223,205,...,96,107,101,98,107,103,100,0,0,0
12762,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12763,0,0,0,0,0,0,202,213,217,199,...,110,106,117,109,0,0,0,0,0,0